
homework5/data/cifar-10-python.tar.gz
homework5/data/cifar-10-batches-py/data_batch_5
homework5/data/cifar-10-batches-py/data_batch_4
homework5/data/cifar-10-batches-py/data_batch_3
homework5/data/cifar-10-batches-py/data_batch_2
homework5/data/cifar-10-batches-py/data_batch_1
homework5/data/cifar-10-batches-py/batches.meta
homework5/data/cifar-10-batches-py/readme.html
homework5/data/cifar-10-batches-py/test_batch
